<form name="modalForm">
  <div class="form-group">
    <textarea name="modalInput" class="form-control" rows="3" ng-model="vm.tweetData" required></textarea>
  </div>
  <button class="btn btn-primary pull-right" ng-click="vm.postTweet(vm.tweetData)">Post tweet</button>
</form>


<br/>
<br/>
<br />
<div class="panel panel-default" ng-repeat="tweet in vm.tweets">
  <div class="panel-body">
    <span class="text-primary" id="tweet-author">Author: {{tweet.userName}}</span>
    <br />
    <span class="text-success">Creation Date: {{tweet.creationDate | date:'HH:mm:ss dd/MM/yyyy'}}</span>
    <p class="text-info tweet-text">{{tweet.message}}</p>
  </div>
</div>